<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <input v-model="first" type="number" />
      <input v-model="second" type="number" />
      {{total}}
    </div>
  </body>
  <script>
    const { createApp, ref, computed } = Vue;
    createApp({
      setup() {
        const first = ref(0);
        const second = ref(0);
        const total = computed(() => {
          return first.value + second.value;
        });
        return {
          first,
          second,
          total,
        };
      },
    }).mount("#app");
  </script>
</html>
